<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/usercssjs/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/usercssjs/vendor/bootstrap/css/bootstrap.search.css}">
    <link rel="stylesheet" th:href="@{/usercssjs/assets/css/fontawesome.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/usercssjs/assets/css/templatemo-sixteen.css}">
    <link rel="stylesheet" th:href="@{/usercssjs/assets/css/owl.css}">
    <link href="https://cdn.jsdelivr.net/npm/easyzoom@2.5.3/css/easyzoom.css" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"

          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
          integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" rel="stylesheet"/>
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <!--    huy-->
    <link rel="stylesheet" th:href="@{../../usercssjs/assets/css/historyInvoice/bootstrap.css}">
    <link rel="stylesheet" th:href="@{../../usercssjs/assets/css/historyInvoice/dataTable.css}">
    <link rel="stylesheet" th:href="@{../../usercssjs/assets/css/historyInvoice/dataTables.bootstrap4.min.css}">
    <script th:src="@{/usercssjs/vendor/jquery/jquery.min.js}"></script>
    <style>

        .toast-notification {
            min-width: 200px;
            height: 100px;
            background-color: white;
            border-radius: 10px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            bottom: 0;
            margin-bottom: 20px;
            margin-left: 80%;
            position: fixed;
            z-index: 1;
            display: flex;
            flex-direction: row;

        }

        .message-container {
            width: 80%;
            padding-top: 13px;
            padding-left: 20px;
            font-family: 'Roboto';
            color: white;
        }

        .close-notification {
            width: 20%;
        }

        .close-notification > i {
            padding-top: 15px;
            padding-left: 5px;
            font-weight: 900;
            color: white;
            cursor: pointer;
        }
    </style>
</head>
<body >
<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- Header -->
<header class="">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="#" th:href="@{/index}">
                <h2><img th:src="@{/images/logo.svg}"
                         style="width: 35px; height: 35px; margin-bottom: 6px; margin-right: -5px"/>
                    Yotsu<em>ba</em></h2>
            </a>
            <button aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                    data-target="#navbarResponsive" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" id="home-active" th:href="@{/index}">TRANG CHỦ
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item" id="pitch-active">
                        <a class="nav-link" href="#" th:href="@{/booking}">SÂN BÓNG</a>
                    </li>
                    <li class="nav-item " id="list-products-active">
                        <a class="nav-link" href="#" th:href="@{/products}">SẢN PHẨM</a>
                    </li>
                    <li class="nav-item " id="about-active">
                        <a class="nav-link" href="#" th:href="@{/about}">VỀ CHÚNG TÔI</a>
                    </li>
                    <li class="nav-item dropdown" id="profile-active">
                        <div  sec:authorize="isAnonymous()">
                            <a class="nav-link" href="#" th:href="@{/sign-in}">ĐĂNG NHẬP</a>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                        <a aria-expanded="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                           id="navbardrop">
                            <svg class="bi bi-person-circle" fill="currentColor" height="20" style=" float: left; margin-right: 5px;"
                                 viewBox="0 0 16 16" widtsh="20"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                                      fill-rule="evenodd"/>
                            </svg>
                            TÀI KHOẢN
                        </a>

                            <div class="dropdown-menu" sec:authorize="isAuthenticated()">
                                <a class="dropdown-item" href="#" th:href="@{/user/profile}"
                                   th:utext="${'Hồ sơ của '+#request.userPrincipal.name}">HỒ SƠ CỦA BẠN </a>
                                <a class="dropdown-item" href="#" th:href="@{/logout}"
                                onclick="removeChat()">Đăng xuất</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item" id="cart-active">
                        <div class="position-absolute fly-cart" id="show">
                            <img alt="" class="img-fluid" src="">
                        </div>
                        <a class="nav-link" data-target="#cart" href="#" id="cart" style="float: 3px; width: 50px; "
                           th:href="@{/user/cart}">
                            <svg class="alo1 shopping-cart bi bi-cart4" fill="currentColor" height="30" viewBox="0 0 16 16"
                                 width="30" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                            </svg>
                            <p style="color: red;float: right;width: 10%;"><span class="total-count"></span></p></a>
                    </li>
                </ul>
                <!--                <div class="dropdown">-->
                <!--                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                <!--                        Dropdown button-->
                <!--                    </button>-->
                <!--                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
                <!--                        <a class="dropdown-item" href="#">Action</a>-->
                <!--                        <a class="dropdown-item" href="#">Another action</a>-->
                <!--                        <a class="dropdown-item" href="#">Something else here</a>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
    </nav>
</header>

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="banner header-text" id="headerNe">
    <!--    <div class="owl-banner owl-carousel">-->
    <!--        <div class="banner-item-01">-->
    <!--            <div class="text-content">-->
    <!--                <h4>SƯ LỰA CHỌN TỐT NHẤT</h4>-->
    <!--                <h2>LUÔN VÌ LỢI ÍCH CỦA BẠN</h2>-->


    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="banner-item-02">-->
    <!--            <div class="text-content">-->
    <!--                <h4>PHỤC VỤ TỐT NHÂT</h4>-->
    <!--                <h2>HÀNG MỚI VỀ GIÁ RẺ</h2>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="banner-item-03">-->
    <!--            <div class="text-content">-->
    <!--                <h4>TIẾT KIỆM THỜI GIAN</h4>-->
    <!--                <h2>THỜI GIAN NẰM TRONG TẦM TAY CỦA BẠN</h2>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
</div>
<!-- Banner Ends Here -->

<div layout:fragment="content"></div>
<div th:replace="footer:: footer"></div>

<!-- chat -->
<style>
    .rw-conversation-container .rw-header{background-color: #24b807;}
    .rw-conversation-container .rw-messages-container .rw-message .rw-client{background-color: #24b807;}
    .rw-launcher{background-color: #24b807;}
    .rw-conversation-container .rw-messages-container .rw-replies .rw-response{background-color: #24b807;}
    .rw-conversation-container .rw-messages-container .rw-replies .rw-reply{background-color: #24b807; border: 0ch;}
    .rw-conversation-container .rw-sender .rw-send{color: #24b807;}
    .rw-carousel-container .rw-carousel-card .rw-carousel-buttons-container .rw-reply {background-color: #24b807;border: 0ch;}
    .rw-carousel-container .rw-carousel-card .rw-carousel-card-title {margin: 20px 9px 20px 9px;}
    .rw-carousel-container .rw-carousel-card .rw-carousel-card-subtitle {margin: 20px 9px 20px 9px; font-size: .9em; }
    .rw-carousel-container .rw-carousel-card .rw-carousel-buttons-container .rw-reply {margin: 45px 10px 10px 5px;}
    .rw-conversation-container .rw-header.rw-with-subtitle .rw-avatar { top: 15px; }
    .rw-conversation-container .rw-header .rw-avatar {height: 40px; width: 40px;}
    .rw-conversation-container .rw-title.rw-with-avatar {left: 66px;}
    .rw-conversation-container .rw-header.rw-with-subtitle span.rw-with-avatar { left: 66px;}
</style>
<script>!(function () {
    let e = document.createElement("script"),
        t = document.head || document.getElementsByTagName("head")[0];
    (e.src =
        "https://cdn.jsdelivr.net/npm/rasa-webchat@1.x.x/lib/index.js"),
        // Replace 1.x.x with the version that you want
        (e.async = !0),
        (e.onload = () => {
            window.WebChat.default(
                {
                    initPayload: '/greet',
                    customData: { language: "en" },
                    socketUrl: "http://localhost:5005",
                    // add other props here
                    title: "Chatbot ",
                    subtitle: "Hỗ trợ bạn 24/7",
                    profileAvatar:"./images/bot.png",
                    // add other props here
                    showMessageDate: true,
                    inputTextFieldHint: "Bạn muốn biết gì về sân bóng?...",
                    customMessageDelay: (message) => {
                        let delay = message.length * 40;
                        if (delay > 3 * 1000) delay = 3 * 1000;
                        if (delay < 800) delay = 800;
                        return delay;
                    }
                },
                null
            );
        }),
        t.insertBefore(e, t.firstChild);
})();
</script>
<script th:inline="javascript" type="text/javascript">
    function removeChat() {
        // clear chats
        window.localStorage.clear()
        // clear chats on restart
        window.onload()
    };
</script>
<script th:inline="javascript" type="text/javascript">
    // ************************************************
    // Shopping Cart API
    // ************************************************
    var shoppingCart = (function () {
        // =============================
        // Private methods and propeties
        // =============================
        cart = [];

        let member = [[${member}]];

        console.log("member: " + member);

        // Constructor
        function Item(id, cateid, name, image, quantity, discount, price, count) {
            this.id = id;
            this.cateid = cateid
            this.name = name;
            this.image = image;
            this.quantity = quantity;
            this.discount = discount;
            this.price = price;
            this.count = count;
        }

        // Save cart
        function saveCart() {
            sessionStorage.setItem("shoppingCart", JSON.stringify(cart));
        }

        // Load cart
        function loadCart() {
            cart = JSON.parse(sessionStorage.getItem("shoppingCart"));
        }

        if (sessionStorage.getItem("shoppingCart") != null) {
            loadCart();
        }
        // =============================
        // Public methods and propeties
        // =============================
        var obj = {};
        // Add to cart
        obj.addItemToCart = function (id, cateid, name, image, quantity, discount, price, count) {
            for (var item in cart) {
                if (cart[item].id === id) {
                    if (cart[item].count < cart[item].quantity) {
                        cart[item].count++;
                        saveCart();
                        var count = 0;
                        new Toast("Bạn đã thêm sản phẩm vào giỏ hàng!", ToastType.Succes, 2000);
                        count++;
                        return;
                    }
                    alert("Quá số lượng hiện có !");
                    return;
                }
            }
            var item = new Item(id, cateid, name, image, quantity, discount, price, count);
            var count = 0;
            new Toast("Bạn đã thêm sản phẩm vào giỏ hàng!", ToastType.Succes, 2000);
            count++;
            cart.push(item);
            saveCart();
        };
        // Set count from item
        obj.setCountForItem = function (id, count) {
            for (var i in cart) {
                if (cart[i].id === id) {
                    cart[i].count = count;
                    break;
                }
            }
        };
        // Remove item from cart
        obj.removeItemFromCart = function (id) {
            for (var item in cart) {
                if (cart[item].id === id) {
                    cart[item].count--;
                    if (cart[item].count === 0) {
                        cart.splice(item, 1);
                    }
                    break;
                }
            }
            saveCart();
        };
        // Remove all items from cart
        obj.removeItemFromCartAll = function (id) {
            for (var item in cart) {
                if (cart[item].id === id) {
                    cart.splice(item, 1);
                    break;
                }
            }
            saveCart();
        };
        // Clear cart
        obj.clearCart = function () {
            cart = [];
            saveCart();
        };
        // Count cart
        obj.totalCount = function () {
            var totalCount = 0;
            for (var item in cart) {
                totalCount += cart[item].count;
            }
            return totalCount;
        };
        // Total cart
        obj.totalCart = function () {
            var totalCart = 0;
            for (var item in cart) {
                totalCart += (cart[item].price * (100 - cart[item].discount) / 100) * cart[item].count;
            }
            return Number(totalCart.toFixed(0));
        };
        // List cart
        obj.listCart = function () {
            var cartCopy = [];

            if (member == 1) {
                for (i in cart) {
                    cart[i].discount = 0;
                    item = cart[i];
                    itemCopy = {};
                    for (p in item) {
                        itemCopy[p] = item[p];
                    }
                    itemCopy.total = Number((item.price * (100 - (item.discount)) / 100) * item.count).toFixed(0);
                    cartCopy.push(itemCopy);
                }
            } else if (member == 2) {
                for (i in cart) {
                    item = cart[i];
                    itemCopy = {};
                    for (p in item) {
                        itemCopy[p] = item[p];
                    }
                    itemCopy.total = Number((item.price * (100 - (item.discount)) / 100) * item.count).toFixed(0);
                    cartCopy.push(itemCopy);
                }
            }

            return cartCopy;
        };
        return obj;
    })();

    // *****************************************
    // Triggers / Events
    // *****************************************
    // Add item

    $(".add-to-cart").click(function (event) {
        event.preventDefault();
        var id = $(this).data("id");
        var cateid = $(this).data("cateid");
        var name = $(this).data("name");
        var image = $(this).data("image");
        var quantity = $(this).data("quantity");
        var discount = $(this).data("discount");
        var price = Number($(this).data("price"));
        shoppingCart.addItemToCart(id, cateid, name, image, quantity, discount, price, 1);
        displayCart();
    });

    // Clear items
    $(".clear-cart").click(function () {
        shoppingCart.clearCart();
        displayCart();
    });

    let orderIn4 = {arr: null, total: null, orderId: null}

    function displayCart() {
        var cartArray = shoppingCart.listCart();
        // var Arr = [];
        var output = "";
        for (var i in cartArray) {
            output +=
                "<tr style='font-family: unset ; font-size: large'>" +
                "<td style='width: 100px'>" +
                "<a href='/product-detail/value=" +
                cartArray[i].id +
                "/category=" +
                cartArray[i].cateid +
                "'>" +
                "<img style='width: 50px; height: 50px ;' src=" +
                "/images/image-product/" +
                cartArray[i].image +
                ">" +
                "</a>" +

                "</td>" +

                "<td style='text-align: center'><div class='input-group'><button style='max-width: 40px' class='minus-item input-group-addon btn btn-primary' data-id=" +
                cartArray[i].id +
                ">-</button>" +
                "<input style='max-width: 100px ;text-align: center' disabled type='number' class='item-count form-control' data-id='" +
                cartArray[i].id +
                "' value='" +
                cartArray[i].count +
                "' max='" +
                cartArray[i].quantity +
                "'>" +
                "<button style='max-width: 40px' class='plus-item btn btn-primary input-group-addon' data-id=" +
                cartArray[i].id +
                ">+</button></div></td>" +
                "<td style='text-align: center'>" +
                parseInt(cartArray[i].price).toLocaleString("en-AU") + 'đ' +
                "</td>" +
                "<td style=' width: 150px ;text-align: center'>" +
                cartArray[i].discount +
                " %</td>" +
                "<td style=' text-align: center'>" +
                parseInt((cartArray[i].price * (100 - cartArray[i].discount) / 100).toFixed(0)).toLocaleString("en-AU") + 'đ' +
                "</td>" +
                "<td style='text-align: center'>" +
                parseInt(cartArray[i].total).toLocaleString("en-AU") + 'đ' +
                "</td>" +
                "<td style='text-align: center'>" +
                "<a style='width: 40px' class='search-icon btn btn-outline-success' href='/product-detail/value=" +
                cartArray[i].id +
                "/category=" +
                cartArray[i].cateid +
                "'>" +
                "<i class=\"fas fa-search\"></i>" +
                "</a></td>" +
                "<td style='text-align: center'><button style='width: 40px' class='delete-item btn btn-outline-danger' data-id=" +
                cartArray[i].id +
                ">X</button></td>" +

                "</tr>";
        }
        var output1 = "";
        for (var i in cartArray) {
            // var Object = {productId: cartArray[i].id, price:cartArray[i].price, quantity:cartArray[i].count}
            // Arr.push(Object);

            output1 +=
                "<tr style='font-family: unset ; font-size: large'>" +

                "<td hidden>" +
                cartArray[i].id +
                "</td>" +
                "<td style='width: 150px'>" +
                cartArray[i].name +
                "</td>" +
                "<td>" +
                cartArray[i].count +
                "</td>" +
                "<td>" +
                "</td>" +
                "<td>" +
                "</td>" +
                "<td>" +
                cartArray[i].discount +
                " %</td>" +
                "<td>" +
                "</td>" +
                "<td hidden>" +
                cartArray[i].total +
                "</td>" +
                "<td>" +
                parseInt(cartArray[i].total).toLocaleString("en-AU") + 'đ' +
                "</td>" +
                "</tr>";
        }

        // Arr.forEach((item) => {
        //     console.log(item);
        // });
        //
        //     orderIn4 = {arr:Arr, total: shoppingCart.totalCart(),orderId: [[${idorder}]]}
        //
        //     var json = JSON.stringify(orderIn4);
        //     console.log(json)
        //     $.ajax({
        //         type: "POST",
        //         url: "/saveOrder",
        //         data: json,
        //         contentType: "application/json; charset=utf-8",
        //         dataType: "json",
        //         success: function (msg) {
        //             alert('In Ajax');
        //         }
        //     });

        $(".show-checkout").html(output1);
        $(".show-cart").html(output);
        $(".total-cart").html(parseInt(shoppingCart.totalCart()).toLocaleString("en-AU"));
        $(".total-count").html(shoppingCart.totalCount());

    }


    // Delete item button

    $(".show-cart").on("click", ".delete-item", function (event) {
        var id = $(this).data("id");
        shoppingCart.removeItemFromCartAll(id);
        displayCart();
    });

    // -1
    $(".show-cart").on("click", ".minus-item", function (event) {
        var id = $(this).data("id");
        shoppingCart.removeItemFromCart(id);
        displayCart();
    });
    // +1
    $(".show-cart").on("click", ".plus-item", function (event) {
        var id = $(this).data("id");
        shoppingCart.addItemToCart(id);
        displayCart();
    });

    // Item count input
    $(".show-cart").on("change", ".item-count", function (event) {
        var id = $(this).data("id");
        var count = Number($(this).val());
        shoppingCart.setCountForItem(id, count);
        displayCart();
    });
    displayCart();

    class Toast {
        constructor(message, color, time) {
            this.message = message;
            this.color = color;
            this.time = time;
            this.element = null;
            var element = document.createElement('div');
            element.className = "toast-notification";
            this.element = element;
            var countElements = document.getElementsByClassName("toast-notification");

            element.style.opacity = 0.8;

            element.style.marginBottom = (countElements.length * 100) + "px";

            element.style.backgroundColor = this.color;

            var message = document.createElement("div");
            message.className = "message-container";
            message.textContent = this.message;

            element.appendChild(message);

            var close = document.createElement("div");
            close.className = "close-notification";

            var icon = document.createElement("i");
            icon.className = "lni lni-close";

            close.appendChild(icon);

            element.append(close);

            document.body.appendChild(element);

            setTimeout(function () {
                element.remove();
            }, this.time);

            close.addEventListener("click", () => {
                element.remove();
            })
        }

    }

    const ToastType = {
        Danger: "#eb3b5a",
        Warning: "#fdcb6e",
        Succes: "green",
    }

</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<!--<script th:src="@{../../user/js/man.js}"></script>-->
<script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
        if (!cleared[t.id]) {                      // function makes it static and global
            cleared[t.id] = 1;  // you could use true and false, but that's more typing
            t.value = '';         // with more chance of typos
            t.style.color = '#fff';
        }
    }
</script>
<script th:src="@{/usercssjs/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/usercssjs/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/ajax/booking.js}"></script>
<script th:src="@{/ajax/validate.js}"></script>
<script th:src="@{/usercssjs/assets/js/payment.js}"></script>
<script th:src="@{/usercssjs/assets/js/custom.js}"></script>
<script th:src="@{/usercssjs/assets/js/owl.js}"></script>
<script th:src="@{/usercssjs/assets/js/slick.js}"></script>
<script th:src="@{/usercssjs/assets/js/isotope.js}"></script>
<script th:src="@{/usercssjs/assets/js/accordions.js}"></script>


<!--&ndash;&gt;cac file invoice, changepass, profile-->
<script th:src="@{/usercssjs/assets/js/scripts.js}"></script>
<script th:src="@{/usercssjs/assets/js/slide.js}"></script>
<!--&ndash;&gt;login,register-->
<script th:src="@{/usercssjs/vendor/jquery/jquery.min1.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>

<script th:src="@{/usercssjs/assets/js/slide.js}"></script>
<script th:src="@{/usercssjs/assets/js/updateProfile.js}"></script>
<!--bootstrap 4-->
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"-->
<!--        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"-->
<!--        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" -->
<!--        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" -->
<!--        integrity="	sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<script th:src="@{https://cdn.jsdelivr.net/npm/easyzoom@2.5.3/src/easyzoom.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js}"></script>
<!--huy-->
<script th:src="@{../../usercssjs/assets/js/jquery-3.5.1.js}" type="text/javascript"></script>
<script th:src="@{../../usercssjs/assets/js/jquery.dataTables.min.js}" type="text/javascript"></script>
<script th:src="@{../../usercssjs/assets/js/dataTables.bootstrap4.min.js}" type="text/javascript"></script>

</body>
</html>