<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
  <title>Yotsuba</title>
  <link rel="shortcut icon" th:href="@{/images/logo.svg}">
  <script th:src="@{https://cdn.jsdelivr.net/npm/easyzoom@2.5.3/src/easyzoom.js}"></script>
  <link rel="stylesheet" th:href="@{../../usercssjs/assets/css/slide.css}">
  <script th:src="@{/js/booking.js}"></script>
  <style>
    * {
      box-sizing: border-box;
    }

    .zoom {

      transition: transform .2s;
      float: left;

    }

    .zoom:hover {
      -ms-transform: scale(1.5); /* IE 9 */
      -webkit-transform: scale(1.5); /* Safari 3-8 */
      transform: scale(1.5);
    }
  </style>
  <script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
      if (!cleared[t.id]) {                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value = '';         // with more chance of typos
        t.style.color = '#fff';
      }
    }
  </script>
</head>
<body>

<div style="background-color: whitesmoke;" layout:fragment="content">
  <style>
    #pitchInfo{
      border-radius: 1em;
      box-shadow: 0 0 3em -1em black;
      padding: 24px;
    }
    #map{
      border-radius: 1em;
      box-shadow: 0 0 3em -1em black;
      padding: 24px;
    }
    #allSubPitchByType{
      border-radius: 1em;
      box-shadow: 0 0 3em -1em black;
      padding: 24px;
    }
  </style>
  <br/>
  <div class="container" th:object="${pitch}" style="margin-bottom: 5%">
    <div>
      <input type="text" id="pitchId" th:value="*{getId()}" style="display: none"></input>
      <div class="card p-3 mt-0 mr-2 mb-2" style="width: 790px; float: left" id="pitchInfo">
        <h3 th:text="*{getName()}" style="margin-bottom: 0px"></h3>
        <p style="font-weight: 400;"><i class="fas fa-map-marker-alt"></i>
          <span th:text="*{getAddress()}"></span>
        </p>
        <!--                <br>-->
        <h7 th:text="*{getDescription()}">
        </h7>
        <br>
        <h6 th:object="${managerInfo}"><i class="fas fa-user-tag"></i> Quản lí sân: <span
                th:text="*{getFullName()}"></span> - SĐT:<span th:text="*{getPhone()}"></span>
        </h6>
        <hr>
        <div class="m-1">
          <div class="row mb-2" style="width: 790px;">
            <div>
              <img th:src="'/images/image-pitch/'+*{getImage()}" width="440px"
                   height="360px">
            </div>
            <div class="pl-1 pr-1" th:object="${firstSubPitch}">
              <img th:src="'/images/image-subpitch/'+*{getImage1()}" width="330px"
                   height="225px">
              <div class="row mt-1 m-0">
                <img th:src="'/images/image-subpitch/'+*{getImage2()}"
                     width="163px" height="131px">
                <img class="ml-1"
                     th:src="'/images/image-subpitch/'+*{getImage3()}"
                     width="163px" height="131px">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style="width: 20px;"></div>
      <div class="map card m-1 p-3" style="width: 300px" id="map">
        <img th:src="'/images/map.png'" alt="">
        <button class="btn mt-2" style="background-color: #5392f9;color: aliceblue;" data-toggle="modal"
                data-target="#exampleModal">Xem bản đồ
        </button>
      </div>


      <div class="card p-3 mt-1" style="width: 790px;" id="allSubPitchByType">
        <div>
          <label><i class="fas fa-filter"></i> Lọc theo loại sân</label>
          <select id="pitchType" class="form-control" onchange="findSubPitchByPitchType()"
                  style="width: 400px;">
            <option value="0" selected>--Chọn loại sân--</option>
            <option th:each="type:${listPitchType}" th:value="${type.getId()}"
                    th:text="${type.getName()}"></option>
          </select>
        </div>
        <div class="result mt-2">
          <label id="searchResultLabel" style="display: none"><i class="fas fa-search"></i> Danh sách tìm kiếm</label>
          <h6 id="allSubPitch">Tất cả các sân bóng mini</h6>
          <div class="row" id="listSubPitchResult">
            <div class="col-sm-4 " th:each="subpitch:${listSubPitch}">
              <div class="product-item btn-light">
                <a th:href="@{/user/booking/sub-pitch/{subPitchId} (subPitchId=${subpitch.getId()})}">
                  <img th:src="'/images/image-subpitch/'+${subpitch.getImage1()}"
                       style="width: 100%; height: 145px">
                </a>
                <div style="padding: 7px;">
                  <p></p>
                  <h6 th:text="${subpitch.getName()}" style="color: #1a6692;"></h6>
                  <h7 th:text="${subpitch.getPrice()}" style="color: #DC3545;"></h7>
                  <span style="color: #DC3545;"> đ/h</span>
                  <p style="font-weight: 400"><i class="fas fa-user"></i> <span
                          th:text="${subpitch.getNameType()}"></span></p>
                  <a th:href="@{/user/booking/sub-pitch/{subPitchId} (subPitchId=${subpitch.getId()})}">
                    <button type="button" class="btn btn-outline-danger col-12">Đặt ngay</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--        <tr>-->
    <!--            <td></td>-->
    <!--            <td style="text-align: center"></td>-->
    <!--        </tr>-->
    <div style="width: 1400px; height: 630px; padding-right: 100px;" class="modal fade " id="exampleModal"
         tabindex="-1"
         role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document" style="padding-right: 650px;">
        <div style="width: 635px; height: 560px; margin-top: 100px" class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="height: 500px;" th:utext="*{getUrlMap()}">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <script>
    $(document).ready(() => {
      $("#home-active").removeClass("active");
      $("#pitch-active").addClass("active");
    })

    function numberWithCommas(x) {
      var parts = x.toString().split(".");
      parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
      return parts.join(",");
    }

    var calculation = document.getElementById("subpitch_price").innerText;
    var calnum = parseInt(calculation);
    document.getElementById("subpitch_price").innerHTML = numberWithCommas((calnum).toFixed(2));
  </script>
</div>
</body>
</html>
