<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet">

    <title>Yotsuba</title>
  <link rel="shortcut icon" th:href="@{/images/logo.svg}">


    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">

    <link rel="stylesheet" th:href="@{../../usercssjs/assets/css/slide.css}">

    <style>
        * {
            box-sizing: border-box;
        }

        .zoom {

            transition: transform .2s;
            float: left;

        }

        .zoom:hover {
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Safari 3-8 */
            transform: scale(1.5);
        }
    </style>
    <script language="text/Javascript">
        cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
        function clearField(t) {                   //declaring the array outside of the
            if (!cleared[t.id]) {                      // function makes it static and global
                cleared[t.id] = 1;  // you could use true and false, but that's more typing
                t.value = '';         // with more chance of typos
                t.style.color = '#fff';
            }
        }

    </script>
</head>

<body>

<div style="background-color: whitesmoke;" layout:fragment="content">
    </br>
    <div class="container">
        <div class="row">
            <div  class="col-md-12"></div>

            <div  class="col-lg-12 col-md-12 all des" style="background: white;">

                <div th:each="itemP,iSat:${detailProduct1}" class="  product-item  ">

                    <a class="zoom" href="#"><img th:src="@{'/images/image-product/'+${itemP.image}}"
                                                  style="width: 400px; height: 400px; "></a>
                    <div class="down-content col-6" style="float: left; margin-left: 9%;">
                        <h4 style="max-width: 350px" th:text="${itemP.name}"><h4>TÊN SẢN PHẨN</h4></h4>
                        <h6 th:text="${#numbers.formatDecimal(itemP.price,0, 'COMMA', 0, 'POINT')} + 'đ'" style="float: right"></h6>
                        <p th:text="${itemP.description}" >Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
                        <a href="#" th:data-id="${itemP.id}" th:data-cateid="${itemP.categoryId}" th:data-image="${itemP.image}" th:data-quantity="${itemP.quantity}" th:data-discount="${itemP.discount}"  th:data-name="${itemP.name}" th:data-price="${itemP.price}"  class="alo add-to-cart btn btn-outline-danger col-12">THÊM VÀO GIỎ HÀNG</a>
                    </div>
                </div>
            </div>
            <div class="latest-products" style="background: white; margin-top: 5%;">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h2>XEM NHỮNG SẢN PHẨM KHÁC</h2>
                            <a th:href="@{'/products/'}" href="products.html">XEM TẤT CẢ CÁC SẢN PHẨM <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div  class="MultiCarousel " data-items="1,3,5,6" data-slide="1" id="MultiCarousel"
                                  data-interval="1000">
                                <div  class="MultiCarousel-inner">
                                    <div th:each="itemP,iSat:${detailProduct2}" class="card item btn-light" >
                                        <div class="pad15">
                                            <a  th:href="@{'/product-detail/value='+${itemP.id}+'/category='+${itemP.categoryId}}"><img th:src="@{'/images/image-product/'+${itemP.image}}" style="width: 100%; height: 15vh ;"></a>
                                            <div class="down-content">
                                                <div style="width: 100%; height: 10vh ;">
                                                    <a th:href="@{'/product-detail/value='+${itemP.id}+'/category='+${itemP.categoryId}}" href="detailProduct.html">
                                                        <h4 style="font-size: 15px;text-overflow: ellipsis;max-width: 100%;white-space: nowrap;overflow: hidden;"  th:text="${itemP.name}">TÊN SẢN PHẨM</h4>
                                                    </a>
                                                    <p th:text="${#numbers.formatDecimal(itemP.price,0, 'COMMA', 0, 'POINT')} + 'đ'">24 VND</p>
                                                </div>
                                                <a style="width: 180px; font-size: x-small;" href="#" th:data-id="${itemP.id}" th:data-cateid="${itemP.categoryId}" th:data-image="${itemP.image}" th:data-quantity="${itemP.quantity}" th:data-discount="${itemP.discount}"  th:data-name="${itemP.name}" th:data-price="${itemP.price}"  class="alo add-to-cart btn btn-outline-danger col-12">THÊM VÀO GIỎ HÀNG</a>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary leftLst"><</button>
                                <button class="btn btn-primary rightLst">></button>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 all des" style="margin-top: 2%; background: white;">
                <h5>ĐÁNH GIÁ</h5>
                <div class="form-group">
                    <label>ĐIỀN THÔNG TIN: </label><br>
                    <textarea name="reviewInput" id="reviewInput" cols="100%" rows="6"></textarea>
                </div>

                <div class="container">
                    <h6 style="margin-bottom: 5%;">reviewed</h6>
                    <div class="form-group1 col-md-12 dr btn-light" style="margin-top: 1%;">
                        <label for="reviewer"><img src="assets/images/account1.jfif" style="width: 5vw;" alt="">
                            <p>duc123</p></label> <br>
                        <label for="contentReview "><p>khong co gi</p></label>

                    </div>
                    <div class="form-group1 col-md-12 dr  btn-light" style="margin-top: 1%;">
                        <label for="reviewer"><img src="assets/images/account1.jfif" style="width: 5vw;" alt="">
                            <p>duc123</p></label> <br>
                        <label for="contentReview "><p>khong co gi het a nghe</p></label>

                    </div>
                    <div class="form-group1 col-md-12 dr btn-light" style="margin-top: 1%;">
                        <label for="reviewer"><img src="assets/images/account1.jfif" style="width: 5vw;" alt="">
                            <p>duc123</p></label> <br>
                        <label for="contentReview "><p>khong co gi</p></label>

                    </div>
                    <div class="form-group1 col-md-12 dr btn-light" style="margin-top: 1%;">
                        <label for="reviewer"><img src="assets/images/account1.jfif" style="width: 5vw;" alt="">
                            <p>duc123</p></label> <br>
                        <label for="contentReview "><p>khong co gi</p></label>

                    </div>
                    <div class="form-group1 col-md-12 dr btn-light" style="margin-top: 1%;">
                        <label for="reviewer"><img src="assets/images/account1.jfif" style="width: 5vw;" alt="">
                            <p>duc123</p></label> <br>
                        <label for="contentReview "><p>khong co gi</p></label>
                    </div>
                    <div class="form-group1 col-md-12 dr btn-light" style="margin-top: 1%;">
                        <label for="reviewer"><img src="assets/images/account1.jfif" style="width: 5vw;" alt="">
                            <p>duc123</p></label> <br>
                        <label for="contentReview "><p>khong co gi</p></label>
                    </div>
                </div>
            </div>


        </div>


    </div>
    <script>
        $(document).ready(()=>{
            $("#home-active").removeClass("active");
            $("#list-products-active").addClass("active");
        })
    </script>
</div>
<script src="assets/js/slide.js"></script>
</body>

</html>
