<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yotsuba</title>
  <link rel="shortcut icon" th:href="@{/images/logo.svg}">
    <link th:href="@{/usercssjs/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/usercssjs/vendor/bootstrap/css/bootstrap.search.css}" rel="stylesheet">
    <!-- Font Icon -->
    <link rel="stylesheet" th:href="@{usercssjs/fonts/material-icon/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" th:href="@{usercssjs/assets/fonts/material-icon/css/material-design-iconic-font.min.css}">

    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">


    <!-- Main css -->
    <link rel="stylesheet" th:href="@{usercssjs/assets/css/style.css}">
    <style>
        h2{
            font-family: "Roboto", sans-serif;
        }
    </style>
</head>
<body style="background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
      url('https://images.pexels.com/photos/158780/leaf-nature-green-spring-158780.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">

    <div class="custom-main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <a title="trở về trang chủ" href="#" th:href="@{/index}">
                            <figure ><img src="../../usercssjs/assets/images/StoneDevil.jpg" alt="sing up image"></figure>
                        </a>
                        <a href="#" th:href="@{/register}" class="signup-image-link">TẠO TÀI KHOẢN MỚI</a>
                    </div>

                    <div class="signin-form">
                       <h2>Quên mật khẩu</h2>
                        <div th:if="${session.message}" >
                            <div class="alert alert-danger text-center" role="alert">
                                <span th:text="${session.message}"></span>
                            </div>
                            <th:block th:text="${#session.removeAttribute('message')}" ></th:block>
                        </div>
                        <form method="POST" class="register-form" id="login-form" th:action="@{/send-otp-forgot}" style="margin-top: 25px;">
                            <div class="form-group">
                                <label for="email_forgot"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="email_forgot" id="email_forgot" placeholder="NHẬP TÊN EMAIL CỦA BẠN"/>
                            </div>
                            <div class="form-group form-button">
                                    <input type="submit" name="forgot" id="forgot" class="form-submit" value="GỬI"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Mong muốn của chúng ta
                Validator({
                    form: '#register-form',
                    formGroupSelector: '.form-group',
                    errorSelector: '.form-message',
                    rules: [
                        //email
                        Validator.isEmail('#email_forgot'),
                        Validator.isBlank('#email_forgot', 'Email không có khoảng cách!'),
                        //password
                    ],
                });

            });
        </script>
    </div>
    <!-- JS -->
    <script th:src="@{user/vendor/jquery/jquery.min1.js}"></script>
    <script th:src="@{user/assets/js/main.js}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>