<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" th:href="@{../../usercssjs/assets/css/cart.css}">

  <script language="text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t) {                   //declaring the array outside of the
      if (!cleared[t.id]) {                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value = '';         // with more chance of typos
        t.style.color = '#fff';
      }
    }
  </script>
  <title>Yotsuba</title>
  <link rel="shortcut icon" th:href="@{/images/logo.svg}">
</head>

<body >

<div style="padding-bottom: 5%; background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
      url('https://images.pexels.com/photos/158780/leaf-nature-green-spring-158780.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');" layout:fragment="content">
  <div class="banner header-text">
    <div class="owl-banner owl-carousel">
      <div class="slide">
        <div class="banner-item-01">
        <div class="text-content">
          <h4>LỰA CHỌN HÀNG ĐẦU</h4>
          <h2>LUÔN VÌ LỢI ÍCH CỦA BẠN</h2>


        </div>
      </div>
      </div>
      <div class="slide">
        <div class="banner-item-02">
        <div class="text-content">
          <h4>PHỤC VỤ TỐT NHẤT</h4>
          <h2>SẢN PHẨM MỚI GIÁ HẤP DẪN</h2>
        </div>
      </div>
      </div>
      <div class="slide">
        <div class="banner-item-03">
          <div class="text-content">
            <h4>TIỆN LỢI LÀ TRÊN HẾT</h4>
            <h2>THỜI GIAN NẰM TRONG TẦM TAY BẠN</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="latest-products">
    <div class="container">
      <div class="alonoi row" style="background: white; margin-top: 1%;">
        <div class="col-md-12">
          <img src="/images/sanbong.png" class="_2dRoLS" style="width: 100%; height: 100px;">
          <div class="section-heading" style="margin-bottom: 30px;">
            <h2 style="color: white;"></h2>
            <a th:href="@{/booking}">XEM TẤT CẢ CÁC SÂN BÓNG<i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div th:if="${(footballPitch == null) || (footballPitch.size() == 0)}">
          <div style="text-align: center; margin-top: -60px">No data available</div>
        </div>
          <div th:if="${listPitch.size() > 0}" th:each="item,iSat:${footballPitch}" class="col-md-3 ">
            <div class="card product-item shadow-lg">
              <a th:href="@{'/booking/pitch/'+${item.id}}" href="#"><img  class="img-responsive" th:src="@{'/images/image-pitch/'+${item.image}}" style="border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;width: 100%; height: 150px ;"></a>
              <div class="down-content" >
                <div style="width: 100%; height: 50px ;" >
                  <a th:href="@{'/booking/pitch/'+${item.id}}" href="#">
                    <h4 style="text-align: center ;text-overflow: ellipsis;max-width: 100%;white-space: nowrap;" class="title" th:text="${item.name}"></h4>
                  </a>
                </div>
                <a th:href="@{'/booking/pitch/'+${item.id}}" href="#">
                  <button type="button" class="btn btn-outline-danger col-12" >XEM THÊM </button>
                </a>
                </a>
              </div>
            </div>
          </div>
        <img src="/images/line1.png" class="_2dRoLS" style="width: 100%; height: 70px;">
      </div>
    </div>
  </div>
  <div></div>
  <div class="latest-products">
    <div class="container">
      <div class="row alonoi" style="background: white; margin-top: 1%;">
        <div class="col-md-12">

          <img src="/images/sanpham.png" class="_2dRoLS" style="width: 100%; height: 100px;">
          <div class="section-heading">
            <h2 style="color: white;"></h2>
            <a th:href="@{'/products/'}" href="products.html">XEM TẤT CẢ CÁC SẢN PHẨM <i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <div th:if="${(products == null) || (products.size() == 0)}">
          <div style="text-align: center; margin-top: -60px">No data available</div>
        </div>
        <div th:if="${listProduct.size() > 0}" th:each="itemP,iSat:${products}" class="col-md-3 " id="itemList">
          <div class="item product card product-item shadow-lg">
            <a th:href="@{'/product-detail/value='+${itemP.id}+'/category='+${itemP.categoryId}}"><img th:id="${itemP.image}" class="img-fluid img-responsive" th:src="@{'/images/image-product/'+${itemP.image}}" style="border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;width: 100%; height: 240px ;"></a>
            <div class="down-content" >
              <div style="width: 100%; height: 10vh ;" >
                <a th:href="@{'/product-detail/value='+${itemP.id}+'/category='+${itemP.categoryId}}">
                  <h4 style="text-overflow: ellipsis;max-width: 200px;white-space: nowrap;overflow: hidden;text-align: center" th:text="${itemP.name}"></h4>
                </a>
                <a th:href="@{'/product-detail/value='+${itemP.id}+'/category='+${itemP.categoryId}}">
                  <h4 style="text-align: center" th:text="${#numbers.formatDecimal(itemP.price,0, 'COMMA', 0, 'POINT')} + 'đ'"></h4>
                </a>
              </div>
              <a href="#" th:data-fly-to-basket="${itemP.image}" th:data-id="${itemP.id}" th:data-cateid="${itemP.categoryId}" th:data-image="${itemP.image}" th:data-quantity="${itemP.quantity}" th:data-discount="${itemP.discount}"  th:data-name="${itemP.name}" th:data-price="${itemP.price}"  class=" alo add-to-cart btn btn-outline-danger col-12">THÊM VÀO GIỎ HÀNG</a>
            </div>
          </div>
        </div>
        <img src="/images/line1.png" class="_2dRoLS" style="width: 100%; height: 70px;">
      </div>
    </div>
  </div>
  <script>
    $("#headerNe").css("display", "none");
  </script>
</div>



</body>

</html>