<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
    rel="stylesheet">

    <title>Yotsuba</title>
  <link rel="shortcut icon" th:href="@{/images/logo.svg}">

    <link th:href="@{../../usercssjs/assets/css/styles1.css}" rel="stylesheet" />
<!--    <script type="text/javascript">-->
<!--        $(document).ready(function() {-->
<!--            $('#example').DataTable();-->
<!--        } );-->
<!--    </script>-->
    <script>
        $(document).ready(() => {
            $("#home-active").removeClass("active");
            $("#profile-active").addClass("active");
        })

    </script>
</head>


<body>

  <div class="d-flex" id="wrapper" style="margin-top:1%;" layout:fragment="content">
    <!-- Detail-->
    
    <div class="col-sm-12 " style="margin-top: 2%; ">
<!--      <a style="margin-bottom: 50%;" href="#" th:href="@{/user/history-invoice-booking}"> Quay lại đơn hàng</a>-->
        <a th:href="@{/user/history-invoice-booking}" class="btn btn-outline-info ml-2" style="width: 200px;"><i class="fas fa-fast-backward"></i>QUAY LẠI</a>
      <div class="card">
          <div class="card-header " style="background-color: #24b807; color: white;border-radius: 15px">
              <h2>CHI TIẾT ĐẶT SÂN</h2>
          </div>
          <div class="card-body" style="overflow-x:auto;">

              <table id="example" class="table table-striped table-bordered" style="width:100%">
                  <thead>
                  <tr>
                      <th><p style="text-align: center;font-weight: bolder;font-size: medium">Tên Sân Nhỏ</p></th>
                      <th><p style="text-align: center;font-weight: bolder;font-size: medium">Loại Sân</p></th>
                      <th><p style="text-align: center;font-weight: bolder;font-size: medium">TG Bắt Đầu</p></th>
                      <th><p style="text-align: center;font-weight: bolder;font-size: medium">TG Kết Thúc</p></th>
                      <th><p style="text-align: center;font-weight: bolder;font-size: medium">Chi Tiết Sân</p></th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="item,stat:${pitch}">
                      <td style="text-align: center;font-weight: bolder" th:text="${item.name}"></td>
                      <td style="text-align: center;font-weight: bolder" th:text="${item.subtype}"></td>
                      <td style="text-align: center;font-weight: bolder" th:text="${item.subTimeStart}"></td>
                      <td style="text-align: center;font-weight: bolder" th:text="${item.subTimeEnd}"></td>
                      <td style="text-align: center;font-weight: bolder">
                          <button  class="btn btn-outline-info waves-effect" >
                              <a th:href="@{'/user/booking/sub-pitch/'+${item.id}}"   class=""><i class="fas fa-info-circle "></i></a>
<!--                              <a th:href="@{'user/booking-pitch-detail/'+${item.id}}"   class=""><i class="fas fa-info-circle "></i></a>-->
                          </button>
                      </td>

                  </tr>
                  </tbody>
              </table>
              <div class="modal fade" id="confirmationId" tabindex="-1" role="dialog"
                  aria-labelledby="modelTitleId" aria-hidden="true">
              </div>
          </div>
        
      </div>
  </div>
      <script language="text/Javascript">
          cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
          function clearField(t) {                   //declaring the array outside of the
              if (!cleared[t.id]) {                      // function makes it static and global
                  cleared[t.id] = 1;  // you could use true and false, but that's more typing
                  t.value = '';         // with more chance of typos
                  t.style.color = '#fff';
              }
          }
      </script>
</div>






</body>

</html>